<%- include('header') %>
    <div class="container text-center">
        <form action="/login" method="post">
            <div class="ml-5 mb-4 h1 text-info mt-3">ระบบร้านค้าออนไลน์</div>
            <div class="card ml-5">
                <div class="card-body">
                    <div class="card-header h3">
                        <span class="material-symbols-outlined icons h3">
                            login
                            </span>
                        Login เข้าระบบ Admin
                    </div>
                    <div class="mt-3 ml-3 h4 text-left">
                        Username
                    </div>
                    <div class="form-group mx-sm-3 mb-2 text-left">
                        <input type="text" name="usr" id="" class="form-control">
                    </div>
                    <div class="mt-3 ml-3 h4 text-left">
                        Password
                    </div>
                    <div class="form-group mx-sm-3 mb-2 text-left">
                        <input type="password" name="pwd" id="" class="form-control">
                    </div>
                    <div class="text-left">
                        <button class="btn btn-info mt-3 ml-3" type="sumbit" id="sumbit">
                            Login
                            <span class="material-symbols-outlined icons">
                                key
                                </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

<%- include('footer') %>
